<h1>New Entry</h1>

<%= simple_form_for @entry do |f| %>
  <%if @entry.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@entry.errors.count, "error") %> prevented this item from being saved: </h2>
      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.input :customer_number %><br>
  </p>
 
  <p>
    <%= f.button :submit %>
  </p>
<% end %>


<%= link_to 'Back', entries_path %>