<%= javascript_include_tag "entries/show" %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<p>
  <strong>Customer Number:</strong>
  <%= @entry.customer_number %>
</p>
 
<p>
  <strong>Start Time:</strong>
  <%= @entry.start_time.strftime('%I:%M%p') %>
</p>

<p>
  <strong>End Time:</strong>
  <% if @entry.end_time %>
    <%= @entry.end_time.strftime('%I:%M%p') %>
  <% else %>
    N/A
  <% end %>
</p>

<input type="hidden" id="start_year" value="<%= @entry.start_time.year %>">
<input type="hidden" id="start_month" value="<%= @entry.start_time.month - 1 %>">
<input type="hidden" id="start_day" value="<%= @entry.start_time.day %>">
<input type="hidden" id="start_hour" value="<%= @entry.start_time.hour %>">
<input type="hidden" id="start_min" value="<%= @entry.start_time.min %>">
<input type="hidden" id="start_sec" value="<%= @entry.start_time.sec %>">
<input type="hidden" id="end_time" value="<%= @entry.end_time %>">

<div class="example">
    <div class="label">Elapsed Time</div>
    <% if @entry.end_time %>
      <div><%= @elapsed_time %></div>
    <% else %>
      <div id="demo1" class="demo">00:00:00</div>
    <% end %>
</div>
<br>

<div id="clock_hou" class="clock_container">
    <div class="lbl">Philippines</div>
    <div class="clockHolder">
        <div class="rotatingWrapper"><%= image_tag("clock_hour.png", :alt => "clock hour", :class => "hour") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_min.png", :alt => "clock min", :class=>"min") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_sec.png", :alt => "clock sec", :class=>"sec") %></div>
        <%= image_tag("clock_face.png", :alt => "clock face", :class=>"clock") %>
    </div>
    <div class="digital"><span class="hr"></span><span class="minute"></span> <span class="period"></span> </div>
</div>

<%= link_to 'Back', entries_path %>
<%= link_to 'Stop', entry_path(@entry), :method => :put %>